@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-navigation-size: 30px !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.active {
  color: #2D7EFF !important;
}

.backgroundDrop {
  font-size: 17px;
  position: absolute;
  top: 38%;
  color: white;
  width: 64%;
  left: 11%;
  color: #ffffffbf;
}

#nav {
  z-index: 10;
}

.dropdown-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  transition: all .5s ease-in-out;
  height: 100vh;
  background-color: white;
  z-index: 100;
  animation: slide 0.4s ease-in-out
}

@keyframes slide {
   0% {
    left: 100%;
   }
   100% {
    left: 0%;
   }
}
@keyframes slide {
   0% {
    left: 100%;
   }
   100% {
    left: 0%;
   }
}
@keyframes slide1 {
   0% {
    left: 60%;
   }
   100% {
    left: 7%;
   }
}

.serv-dropdown {
  list-style: none;
  animation: slide1 0.4s ease-in-out;
}

.serv-dropdown h1{
color: #2D7EFF;
}


.dropdown-widget {
  justify-content: space-between;
    padding: 2rem;
}

body.bodyscroll {
  overflow: hidden;
}

.dropdown-list {
  line-height: 3;
  font-size: 18px;
  font-weight: 600;
  padding: 2rem;
  margin-top: 3rem;
}

.dropDetails {
  background-color: white;
  z-index: 100 !important;
  top: 5.7rem;
  width: 100%;
  border-top: 1px solid lightgrey;
}

.side-mav {
  padding-left: 72px;
  padding-right: 105px;
}

.mlogo {
  display: none !important;
}

.bg-small {
  display: none !important;
}


body {
  margin: 0;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../font/static/Inter-SemiBold.ttf);
}

.navmenu {
  color: white;
}

.list {
  font-weight: 600;
}

.list li {
  margin-right: 1rem;
  cursor: pointer !important;
}

.navbtn {
  background-color: #F54D4D;
  padding: .5rem;
  width: 110px;
  justify-content: center;
  height: 40px;
  border-radius: .3rem;
}


/********** Discover Component **********/

.skill-wrapper {
  justify-content: space-between;
  align-items: center;
  background-color: #FFFF;
  border-radius: 0.5rem;
  width: 70%;
  box-shadow: 1px 1px 3px lightgrey;
  margin-top: .5rem;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: .7rem;
}

/********** Solution Componrnt **********/
.maincard-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: .7rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.card-details {
  height: 100%;
}

/**********Development Component **********/
.development-wrapper {
  padding-left: 8rem;
  padding-right: 8rem;
}

/********** Decision Coponent *********/

.descision-wrapper {
  background-color: #F8F8F9;
  margin-bottom: 0 !important;
}

.decision-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-top: 3px solid #2D7EFF;
  margin-top: 2rem;
  padding-top: 3rem;
  margin-left: 8rem;
  margin-right: 8rem;
  gap: 1.5rem;
}

.decision-container-text {
  margin-left: 8rem;
  margin-right: 8rem;
  text-align: center;
  margin-top: 4rem;
  font-size: smaller;
  display: flex;
  justify-content: center;
}

.decision-container-text p {
  width: 90%;
  color: #333333 !important;
}

/*********** ContactComponent **********/
.contact-input input::placeholder {
font-size: small;
}
.contact-input textarea::placeholder {
font-size: small;
}

.contact-list li{
  margin-bottom: 2rem;
}

/********** FooterComponent **********/
.footer-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  flex-direction: column;
}

.footer-items {
  display: flex;
    padding-left: 8rem;
    padding-right: 8rem;
    gap: 9rem;
}

.service-footer p{
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: smaller;
}
.industry-footer p{
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: small;
}
.company-footer p{
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: smaller;
}
.contact-footer p{
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: smaller;
}

.footer-end {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-end img {
height: fit-content;
}

.footer-end p{
  font-size: small;
  color:#998E8E ;
}

/********** SwiperComponent **********/
 .swiper-button-next{
  color: white !important;
}
.swiper-button-prev{
  color: white !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination  {
  width: 80px;
  position: absolute !important;
  left: 8% !important;
  bottom: 25% !important;
}

/********** Service Component *********/
.development-service {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.development-service > h1 {
  text-align: center;
    color: #333333;
    font-size: 25px;
    font-weight: 600;
    width: 37%;
}
.lifecycle-wrapper{
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 4rem;
  flex-direction: column;
}

.lifecycle-wrapper > h1 {
  text-align: center;
    color: #333333;
    font-size: 25px;
    font-weight: 600;
}

.lifecycle-widget {
  padding: 4rem;
  padding-bottom: 6rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.serviceCard-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: .4rem;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.service-card {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;
  width: 300px;
  height: 250px;
}

.service-card img {
  width: 25%;
  margin-top: 2rem;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  position: absolute;
  background-color: #2D7EFF;
  width: 100%;
  height: 100%;
  color: white;
  padding: 2rem;
  text-align: start;
  gap: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.cardwrap {
  transform-style: preserve-3d;
  transition: all 1.5s ease;
  width: 100%;
  height: 100%;
  position: relative;
}

.service-card:hover > .cardwrap {
 transform: rotateY(180deg);
 cursor: pointer;
}

/********** Industry Component **********/
.platform-wrapper {
  background-color: #2D7EFF;
  align-items: center;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-bottom: 4rem;
}

.platform-wrapper h1 {
  font-weight: 600;
  color: black;
  font-size: 30px;
  line-height: 1.2;
  width: 64%;
}

.platform-wrapper p {
  width: 68%;
  font-size: 20px;
  color: white;
  margin-top: 7rem;
}

.analytics-container {
  background-color: #F9F9F9;
}

/********** Client component **********/
.client-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  box-shadow: 2px 5px 11px #00000059;
  cursor: pointer;
  border-radius: 4.2px;
  transition: all .5s ease-in-out;
}

.client-card:hover {
  transform: scale(1.02);
  transition: all .5s ease-in-out;
}

.client-card p{
  width: 66%;
}

/********** Media Queries **********/
@media (min-width: 320px) and (max-width: 424px) {

  /*********** SliderComponent ***********/
  .nav-list {
    display: none !important;
  }

  .navbrand {
    display: none !important;
  }


  .mlogo {
    display: flex !important;
  }

  .navbar-wrapper {
    padding-left: 2.8rem !important;
    padding-right: 2.8rem !important;
  }

  .navbtn{
    display: none;
  }

  .nav-dropdown {
    display: flex !important;
  }

  .bg-full {
    display: none !important;
  }

  .enterprise-content {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .enterprise-text h1 {
    font-size: 20px !important;
    font-weight: 600 !important;
    width: 101% !important;
  }

  .enterprise-text p {
    font-size: 12px !important;
  }


  /********** SwiperComponent **********/
 .swiper-button-next{
  display: none !important;
}

.swiper-button-prev{
display: none !important;
}

.swiper-pagination  {
  width: 80px;
  position: absolute !important;
  left: 8% !important;
  bottom: 5% !important;
}


/********** SpecializeComponent **********/
.specialize-wrapper h1{
  font-weight: 600 !important;
 width: 100% !important;
}

.specialize-wrapper p {
  width: 92% !important;
}

/********** DiscoverComponent *********/
.Discover-wrapper > .flex h1{
  font-weight: 600 !important;
  width: 92% !important;
}

.skill-wrapper {
  width: 100% !important;
}

.skill-wrapper > .flex > .dropdown img {
  width: 70% !important;
}

.skill-details > .flex {
  flex-direction: column !important;
  width: 95% !important;
}

.skill-list {
  width: 90% !important;
  flex-direction: column !important;
  display: flex !important;
}

/*********** SolutionComponent **********/

.solution-wrapper {
  align-items: center !important;
  display: flex !important;
  flex-direction: column !important;
}

.solution-wrapper h1 {
  width: 70% !important;
  font-weight: 600 !important;
}

.maincard-wrapper {
  padding-left: 2rem !important;
    display: flex !important;
    flex-direction: column !important;
    padding-right: 2rem !important;
}

/********** DevelopmentComponent *********/
.development-wrapper{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.development-text {
  align-items: center !important ;
  display: flex !important;
  flex-direction: column !important;
}

.development-text p {
  width: 110% !important;
}

.development-text h1 {
  font-weight: 600 !important;
  width: 85% !important;
}

.development-wrapper img {
  width: 100% !important;
}

/************ DomainComponent *********/
.domain-wrapper {
  align-items: center !important;
  display: flex !important;
  flex-direction: column !important;
}

.domain-card {
  margin: 0 !important;
  flex-direction: column !important;
  width: 82% !important;
  padding-top: 2rem !important;
}

.domain-card > .flex {
  width: 100% !important;
  gap: 55px !important;
}

.domain-card > .flex p{
  font-size: 17px;
}

.domain-text h1 {
  width: 75% !important;
}

/********** DecisionComponent **********/

.decision-container {
  display: flex !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-direction: column !important;
}

.decision-container-text {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 2rem !important;
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 1rem !important;
}

.fe {
  justify-content: flex-start !important;
  gap: 1.2rem !important;
}

.decision-content img {
  width: 7% !important;
}

.decision-content p{
  font-weight: 600 !important;
}

/********** ContactComponent **********/
.contact-container {
  padding: 0 !important;
    flex-direction: column !important;
    align-items: center !important;
    padding-top: 1rem !important;
}

.contact-widget {
  width: 290.98px !important;
}

.contact-input input{
  width: 262px !important;
}
.contact-input textarea{
  width: 262px !important;
}

.contact-text {
  width: 75% !important;
}


.checkbox {
  width: fit-content !important ;
}

/********** FooterComponent **********/

.footer-items{
  flex-direction: column !important;
    padding-right: 4rem !important;
    padding-left: 4rem !important;
    gap: 3rem !important;
}

.service-footer p{
  display: none !important;
}

.industry-footer p{
  display: none !important;
}

.company-footer p{
  display: none !important;
}

.footer-end {
  border-top: none !important;
  gap: 0 !important;
  flex-direction: column !important;
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.footer-end > .flex {
  justify-content: center !important;
}

.footsmall {
  justify-content: center !important;
  margin-top: 0;
}

.line {
  display: none !important;
}

.bg-small  {
  display: flex !important;
}

/*********** ClientComponent **********/
.client-card-container {
  flex-direction: column !important;
  align-items: center !important;
  gap: 20px !important;
}

.client-h {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
  padding:  2rem !important;
  text-align: center !important;
}

.client-card {
  width: 300px !important;
  height: 250px !important;
}

/********** Service Component **********/

.development-service p {
  width: 74% !important;
  top: 7% !important;
}

.development-service h1 {
  width: 100% !important;
  top: 3% !important;
  font-size: 20px !important;
}

.serviceCard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  top: 18% !important;
}

.lifecycle-wrapper p {
  width: 70% !important;
}

.lifecycle-wrapper h1 {
  width: 92% !important;
  font-size: 20px !important;
}

.lifecycle-widget img {
  width: 100% !important;
}

.lifecycle-widget {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.service-card {
  width: 250px !important;
  height: 200px !important;
}

.serviceCard-wrapper {
  padding: 0 !important;
}

.card-text {
  padding: 1rem !important;
}

.card-text h1{
  width: 100% !important;
  font-size: 17px !important;
}

.card-text p {
  width: 100% !important;
}

.bg-small {
  height: fit-content !important;
}

/********** Analytics component **********/

.platform-wrapper {
  height: 419px !important;
  align-items: start !important;
  position: relative !important;
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
  padding-left: 0 !important;
}

.platform-widget {
  position: absolute !important;
  bottom: 25px !important;
}

.platform-widget2 {
  position: absolute !important;
  bottom: 13px !important;
  right: 0 !important;
}

.platform-wrapper p {
  margin-top: 32px !important;
  width: 100%;
  font-size: 15px;
}

.platform-wrapper h1 {
  font-size: 16px !important;
  width: 95%;
}

.ellipse {
  width: 88% !important;
  top: 40px !important;
}

.analy-wrapper {
  flex-direction: column !important;
    align-items: center !important;
}

.analytics-wrapper h1 {
  font-size: 17px !important;
}

.analytics-container {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.analy-wrapper {
  gap: 1rem !important;
}

.analy-content {
  align-items: center !important;
  text-align: center !important;
  width: 100% !important;
  margin-top: 68px !important;
}

.analytic-widget {
  margin-bottom: 20px !important;
}

/********** CompanyComponent *********/
.comp-text {
  top: 9% !important;
}

.comp-text h1 {
  padding:  1rem !important;
}

.comp-text p {
  width: 81% !important;
}

/********** Dropdown component **********/
.serv-dropdown {
  list-style: none;

}
  
}

@media (min-width: 425px) and (max-width: 767px) {

  /*********** SliderComponent ***********/
  .nav-dropdown {
    display: flex !important;
  }

  .navbtn {
    display: none;
  }

  .navbrand {
    display: none !important;
  }

  .mlogo {
    display: flex !important;
  }

  .navbar-wrapper {
    padding-left: 2.8rem !important;
    padding-right: 2.8rem !important;
  }

  .nav-list {
    display: none !important;
  }

  .bg-full {
    display: none !important;
  }

  .enterprise-content {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }

  .enterprise-text h1 {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .enterprise-text p {
    font-size: 12px !important;
  }

  /********** SwiperComponent **********/
 .swiper-button-next{
  display: none !important;
}

.swiper-button-prev{
display: none !important;
}

.swiper-pagination  {
  width: 80px;
  position: absolute !important;
  left: 8% !important;
  bottom: 5% !important;
}

/********** SpecializeComponent **********/
.specialize-wrapper h1{
  font-weight: 600 !important;
 width: 92% !important;
}

.specialize-wrapper p {
  width: 92% !important;
}

/********** DiscoverComponent *********/
.Discover-wrapper > .flex h1{
  font-weight: 600 !important;
  width: 92% !important;
}

.skill-wrapper {
  width: 100% !important;
}

.skill-wrapper > .flex > .dropdown img {
  width: 70% !important;
}

.skill-details > .flex {
  flex-direction: column !important;
  width: 95% !important;
}

.skill-list {
  width: 90% !important;
  flex-direction: column !important;
  display: flex !important;
}

/*********** SolutionComponent **********/

.solution-wrapper {
  align-items: center !important;
  display: flex !important;
  flex-direction: column !important;
}

.solution-wrapper h1 {
  width: 70% !important;
  font-weight: 600 !important;
}

.maincard-wrapper {
  padding-left: 2rem !important;
    display: flex !important;
    flex-direction: column !important;
    padding-right: 2rem !important;
}

/********** DevelopmentComponent *********/
.development-wrapper{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.development-text {
  align-items: center !important ;
  display: flex !important;
  flex-direction: column !important;
}

.development-text h1 {
  font-weight: 600 !important;
  width: 76% !important;
}

.development-wrapper img {
  width: 100% !important;
}

/************ DomainComponent *********/
.domain-wrapper {
  align-items: center !important;
  display: flex !important;
  flex-direction: column !important;
}

.domain-card {
  margin: 0 !important;
  flex-direction: column !important;
  width: 82% !important;
  padding-top: 2rem !important;
}

.domain-card > .flex {
  width: 100% !important;
  gap: 55px !important;
}

.domain-card > .flex p{
  font-size: 21px;
}

/********** DecisionComponent **********/

.decision-container {
  display: flex !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-direction: column !important;
}

.decision-container-text {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 2rem !important;
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 1rem !important;
}

.fe {
  justify-content: flex-start !important;
  gap: 1.2rem !important;
}

.decision-content img {
  width: 7% !important;
}

.decision-content p{
  font-weight: 600 !important;
}

/********** ContactComponent **********/
.contact-container {
  padding: 0 !important;
    flex-direction: column !important;
    align-items: center !important;
    padding-top: 1rem !important;
}

.contact-text {
  width: 75% !important;
}



.checkbox {
  width: 19px !important ;
}

/********** FooterComponent **********/

.footer-items{
  flex-direction: column !important;
    padding-right: 4rem !important;
    padding-left: 4rem !important;
    gap: 3rem !important;
}

.service-footer p{
  display: none !important;
}

.industry-footer p{
  display: none !important;
}

.company-footer p{
  display: none !important;
}

.footer-end {
  border-top: none !important;
  gap: 0 !important;
  flex-direction: column !important;
}

.footer-end > .flex {
  justify-content: center !important;
}

.footsmall {
  justify-content: center !important;
  margin-top: 0;
}

.line {
  display: none !important;
}

.bg-small  {
  display: flex !important;
}

/********** Service Component **********/

.development-service p {
  width: 74% !important;
  top: 7% !important;
}

.development-service h1 {
  width: 75% !important;
  top: 3% !important;
}

.serviceCard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  top: 15% !important;
}

.lifecycle-wrapper p {
  width: 70% !important;
}

.card-text h1{
  width: 100% !important;
  font-size: 17px !important;
}

.card-text p {
  width: 100% !important;
}

.lifecycle-wrapper h1 {
  width: 92% !important;
}

.lifecycle-widget img {
  width: 100% !important;
}

.lifecycle-widget {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

/********** Analytics component **********/

.platform-wrapper {
  height: 701px !important;
  align-items: start !important;
  position: relative !important;
}

.platform-widget {
  position: absolute !important;
  bottom: 110px !important;
}

.platform-widget2 {
  position: absolute !important;
  bottom: 90px !important;
  right: 0 !important;
}

.platform-wrapper p {
  margin-top: 32px !important;
  width: 72%;
  font-size: 15px;
}

.platform-wrapper h1 {
  font-size: 25px !important;
  width: 95%;
}

.ellipse {
  width: 222% !important;
    top: -134px !important;
}

.analy-wrapper {
  flex-direction: column !important;
    align-items: center !important;
}

.analy-content {
  align-items: center !important;
  text-align: center !important;
  width: 100% !important;
  margin-top: 68px !important;
}

.analytic-widget {
  margin-bottom: 100px !important;
}

/*********** ClientComponent **********/
.client-card-container {
  flex-direction: column;
}

/********** CompanyComponent *********/
.comp-text {
  top: 21% !important;
}

.comp-text h1 {
  padding:  1rem !important;
}

.comp-text p {
  width: 81% !important;
}


}
